<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>德清县</key>
	<array>
		<string>武康镇</string>
		<string>乾元镇</string>
		<string>新市镇</string>
		<string>洛舍镇</string>
		<string>钟管镇</string>
		<string>莫干山镇</string>
		<string>雷甸镇</string>
		<string>禹越镇</string>
		<string>新安镇</string>
		<string>筏头乡</string>
		<string>三合乡</string>
		<string>开发区</string>
		<string>科技新城</string>
	</array>
	<key>长兴县</key>
	<array>
		<string>画溪街道</string>
		<string>洪桥镇</string>
		<string>李家巷镇</string>
		<string>夹浦镇</string>
		<string>林城镇</string>
		<string>泗安镇</string>
		<string>虹星桥镇</string>
		<string>和平镇</string>
		<string>小浦镇</string>
		<string>煤山镇</string>
		<string>水口乡</string>
		<string>吕山乡</string>
		<string>白岘乡</string>
		<string>槐坎乡</string>
		<string>龙山街道</string>
		<string>雉城街道</string>
		<string>开发区</string>
		<string>图影旅游度假区</string>
		<string>南太湖产业集聚区</string>
		<string>太湖街道</string>
	</array>
	<key>安吉县</key>
	<array>
		<string>递铺镇</string>
		<string>梅溪镇</string>
		<string>鄣吴镇</string>
		<string>杭垓镇</string>
		<string>孝丰镇</string>
		<string>报福镇</string>
		<string>章村镇</string>
		<string>天荒坪镇</string>
		<string>天子湖镇</string>
		<string>溪龙乡</string>
		<string>皈山乡</string>
		<string>上墅乡</string>
		<string>山川乡</string>
		<string>昌硕街道</string>
		<string>灵峰度假区</string>
		<string>旅游企业</string>
	</array>
	<key>吴兴区</key>
	<array>
		<string>月河街道</string>
		<string>朝阳街道</string>
		<string>爱山街道</string>
		<string>飞英街道</string>
		<string>龙泉街道</string>
		<string>凤凰街道</string>
		<string>康山街道</string>
		<string>织里镇</string>
		<string>八里店镇</string>
		<string>妙西镇</string>
		<string>杨家埠镇</string>
		<string>埭溪镇</string>
		<string>东林镇</string>
		<string>道场乡</string>
		<string>环渚乡</string>
		<string>白雀乡</string>
		<string>高新区</string>
	</array>
	<key>南浔区</key>
	<array>
		<string>南浔镇</string>
		<string>双林镇</string>
		<string>练市镇</string>
		<string>善琏镇</string>
		<string>旧馆镇</string>
		<string>菱湖镇</string>
		<string>和孚镇</string>
		<string>千金镇</string>
		<string>石淙镇</string>
		<string>开发区</string>
	</array>
	<key>湖州开发区</key>
	<array>
		<string>杨家埠街道</string>
		<string>凤凰街道</string>
		<string>康山街道</string>
		<string>龙溪街道</string>
	</array>
	<key>太湖度假区</key>
	<array>
		<string>滨湖街道</string>
		<string>仁皇山街道</string>
	</array>
</dict>
</plist>
