<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZhiAnTongGov.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9C66DF511DDC35A400F00E1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C66DF651DDC35A400F00E1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C66DF701DDC35A400F00E1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
